.chart {
  position: absolute;
  display: inline-block;
  width: 110px;
  height: 110px;
  margin-top: -2px;
  margin-left: -2px;
  text-align: center;
}
.chart canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 191px;
}
.percent {
float: left;
line-height: 19px;
margin-top: -4px;
margin-left: 23px;
z-index: 2;
padding-top: 59px;
padding-left: 30px;
}
.percent:after {
content: '%';
margin-left: 3.8em;
font-size: 0.4em;
float: left;
margin-top: -5px;
}
.percent2 {
float: left;
line-height: 19px;
margin-top: -4px;
margin-left: 23px;
z-index: 2;
padding-top: 59px;
padding-left: 30px;
}
.percent2:after {
content: '%';
margin-left: 3em;
font-size: 0.4em;
float: left;
margin-top: -5px;
}
.angular {
  margin-top: 100px;
}
.angular .chart {
  margin-top: 0;
}

.btn {
  display: block;
  width: 200px;
  margin: 0 auto;
  padding: 10px 20px;
  background: #cccccc;
  color: #ffffff;
  text-transform: uppercase;
  cursor: pointer;
  font-size: 0.8em;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.btn:hover {
  background: #333333;
  color: #ffffff;
}
.span6 {
  float: left;
  width: 50%;
}

@-moz-document url-prefix() { 

    .percent {
      float: left;
      line-height: 19px;
      margin-top: -4px;
      margin-left: -188px;
      z-index: 2;
      padding-top: 59px;
      padding-left: 30px;
    }

    .percent2 {
      float: left;
      line-height: 19px;
      margin-top: -4px;
      margin-left: -188px;
      z-index: 2;
      padding-top: 59px;
      padding-left: 30px;
    }

    .percent2:after {
      content: "%";
      margin-left: 3em;
      font-size: 0.4em;
      float: left;
      margin-top: -19px;
    }

    .percent:after {
      content: '%';
      margin-left: 3.8em;
      font-size: 0.4em;
      float: left;
      margin-top: -19px;
    }
}
