@charset "utf-8";

/* * * RESET CSS * * */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
	line-height: 1;
	font-family: 'Lato', sans-serif;
	background:#fff;
}

input {
	font-family: 'Lato', sans-serif;
}

b, strong {
	font-weight:700;
}

/* * * END RESET CSS * * */

.content-wrapp {
	float:left;
	width:100%;
	overflow:hidden;
}

.header-bg {
	background-color:#ebecf2;
}

.wrapp {
	width:990px;
	margin:0 auto;
}

header {
	float:left;
	width:990px;
	height:27px;
}

.submenu-wrapp {
	float:left;
	width:990px;
	height:27px;
	background:url(../img/header-bg.jpg) no-repeat;	
}

ul#submenu {
	float: left;
	padding-top: 2px;
	padding-bottom: 1px;
}

ul#submenu li {
	float:left;
	font-size:12px;
	color:#6b6766;
	letter-spacing: 0.9px;
	line-height: 24.85px;
	margin-right:40px;
	font-weight: 300;
}

ul#submenu li a {
	color:#6b6766;
	text-decoration:none;
}

ul#submenu li a.blue {
	color:#43acf0;
}

#lang-btn {
	float: right;
	width:104px;
	font-size: 12px;
	color: #6b6766;
	letter-spacing: 0.9px;
	line-height: 24.85px;
	font-weight: 300;
	text-align: right;
	padding-top: 2px;
	padding-bottom: 1px;
	margin-right: 5px;
	cursor:pointer;
	display:none;
}

#lang-arrow {
	float:right;
	width:9px;
	height:27px;
	background:url(../img/lang-arrow.png) 0px -1px no-repeat;
	display:none;
}

#employers-btn-wrapp {
	float: right;
	width: 132px;
	height: 27px;
}

#employers-btn {
	position: absolute;
	width: 132px;
	height: 24px;
	font-size: 12px;
	color: #007791;
	letter-spacing: 0.9px;
	line-height: 24.85px;
	text-align: center;
	padding: 2px 0px 1px 0px;
	font-weight: 400;
	cursor: pointer;
}

#menu {
	float:left;
	width:990px;
	height:91px;
	padding-top:50px;
}

#logo {
	float:left;
	width:248px;
	height:40px;
	background:url(../img/logo.jpg) no-repeat;
	cursor:pointer;
}

nav#menu ul {
	float:right;
}

nav#menu ul li {
	float:left;
	margin-left: 31px;
	font-size:14px;
	color:#6b6766;
	letter-spacing: 1.05px;
	line-height: 15px;
	font-weight:300;
	text-align:center;
}

nav#menu ul li a  {
	color:#6b6766;
	text-decoration: none;
}

nav#menu ul li a.blue {
	color:#43acf0;
}

.menu-padding {
	padding-top:7px;
}

#slider-wrapp {
	float:left;
	width:990px;
	height:358px;
}

.blue-degree-bg {
	background: #012a52; /* Old browsers */
	background: -moz-linear-gradient(left, #012a52 0%, #007fd0 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#012a52), color-stop(100%,#007fd0)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left, #012a52 0%,#007fd0 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left, #012a52 0%,#007fd0 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left, #012a52 0%,#007fd0 100%); /* IE10+ */
	background: linear-gradient(to right, #012a52 0%,#007fd0 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#012a52', endColorstr='#007fd0',GradientType=1 ); /* IE6-9 */
}

#slider {
	float: left;
	width: 1500px;
	height: 385px;
	overflow: hidden;
	margin-left: -252px;
}

.image {
	position:absolute;
	height:386px;
	z-index:5;
}

.hidden {
	margin-left:400px;
	opacity:0;
}

#slider-txt-wrapp {
	position: absolute;
	width: 495px;
	height: 200px;
	z-index: 10;
	margin-left: 707px;
	margin-top: 100px;
	padding: 0px 40px 0px 40px;
}

#slider-txt-box {
	width: 515px;
	height: 185px;
}

.slider-txt {
	text-align:center;
	color:#fff;
	font-size:30px;
	font-weight:300;	
	font-style:italic;
}

.opinion-slider {
	float:left;
}

.oslide {
	float:left;
}

.hideimg {
	display:none;
}

#points {
	height:8px;
	margin-top:3px;
}

#points ul {
	float:left;
	margin-left:211px;
	margin-top: 14px;
}

#points ul li {
	float:left;
	width:8px;
	height:8px;
	margin-left:5px;
	margin-right:5px;
	/*cursor:pointer;*/
	background:url(../img/point.png) no-repeat;
}

#points ul li.active {
	background:url(../img/point-active.png) no-repeat;
}

#home-boxes {
	float:left;
	width:990px;
	padding-top:18px;
}

.home-box {
	float:left;
	width:990px;
	height:371px;
	margin-top:20px;
	overflow:hidden;
	background:url(../img/home-box.jpg) no-repeat;
}

.home-box-left {
	float:left;
	width:495px;
	height:370px;
}

.home-box-left2 {
	position: absolute;
	width: 520px;
	height: 340px;
	padding: 30px 0px 0px 60px;
	z-index: 2;
}

.home-box-right {
	float:left;
	width:440px;
	height:325px;
	padding-right:50px;
	padding-top:45px;
}

.home-box-right3 {
	float: right;
	width: 601px;
	height: 370px;
}

.home-box-map-left {
	position: absolute;
	width: 495px;
	height: 370px;
	z-index: 0;
	margin-top:-1px;
}

.home-box-map-right {
	position: absolute;
	width: 450px;
	height: 325px;
	padding-top: 64px;
	margin-left: 519px;
}

.home-box-title {
	width:100%;
	font-size:20px;
	text-align:center;
	font-weight:300;
}

.home-box-title-separador {
	float: left;
	width: 138px;
	height: 1px;
	margin-top: 16px;
	margin-bottom: 16px;
	margin-left: 151px;
	margin-right: 150px;
	background-color: #c6c8cb;
}

.home-box-title-separador2 {
	float: left;
	width: 138px;
	height: 1px;
	margin-top: 16px;
	margin-bottom: 16px;
	margin-left: 256px;
	margin-right: 256px;
	background-color: #c6c8cb;
}

.home-box-txt {
	width:100%;
	font-size:29px;
	line-height:35px;
	font-weight:300;
	text-align:center;
}

.home-box-btn {
	float: left;
	height: 28px;
	padding-left: 30px;
	padding-right: 30px;
	border-radius: 3px;
	background-color: #007fd0;
	cursor: pointer;
	padding-top: 7px;
	margin-left: 131px;
	margin-top: 25px;
	letter-spacing: 1.3px;
}

.home-box-btn-txt {
	height: 19px;
	padding-left: 8px;
	border-left: 2px solid #fff;
	color: #fff;
	font-size: 15px;
	padding-top: 3px;
	font-weight:300;
}

.home-box-txt-s {
	float:left;
	width:100%;
	padding-top:30px;
	text-align:center;
	font-weight: 300;
}

.home-box-txt-s-title {
	float:left;
	width:100%;
	font-size:15px;
	margin-bottom:5px;
	text-transform: uppercase;
}

.home-box-txt-s-txt {
	float:left;
	width:100%;
	font-size:13px;
}

.home-box-right2 {
	position:absolute;
	width:438px;
	height:370px;
	margin-left:389px;
}

footer {
	float:left;
	width:990px;
	height:300px;
	background:url(../img/footer-bg.jpg) no-repeat;
	padding-bottom: 60px;

}

.footer-bg {
	background-color:#ebecf2;
	margin-top:68px;
}

#footer-left {
	float:left;
	min-width:230px;
}

#footer-title {
	float:left;
	width:100%;
	height:23px;
	margin-top:37px;
	background:url(../img/footer-title.png) no-repeat;
}

nav#footermenu-left {
	float:left;
	margin-top:22px;
}

nav#footermenu-left ul li {
	font-size:12px;
	color:#6b6766;
	margin-left:15px;
	letter-spacing: 0.68px;
	line-height: 24.85px;
	font-weight:300;
}

nav#footermenu-left ul li a.turq {
	color:#007791;
	font-weight:400;
}

nav#footermenu-left ul li a {
	color:#6b6766;
	text-decoration: none;
}

nav#footermenu-right {
	float:right;
	margin-top: 82px;
}

nav#footermenu-right ul li {
	font-size:12px;
	color:#6b6766;
	margin-left:15px;
	line-height: 24.85px;
	font-weight:300;
	text-align:right;
}

nav#footermenu-right ul li a {
	color:#6b6766;
	text-decoration: none;
}

.footer-sep {
	float:left;
	width:100%;
	height:1px;
	margin-top:27px;
	margin-bottom:20px;
	background-color:#cbc9cc;
}

nav#footer-submenu {
	float:left;

}

nav#footer-submenu ul li {
	float:left;
	font-size:9px;
	letter-spacing: 0.68px;
	line-height: 24.85px;
	color:#6b6766;
	margin-right:40px;
	font-weight:300;
}

nav#footer-submenu ul li a {
	color:#6b6766;
	text-decoration: none;
}

#logo-footer {
	float:right;
	width:146px;
	height:38px;
	background:url(../img/logo-footer.png) no-repeat;
}

#map {
	position:absolute;
	width:545px;
	height:370px;
}

.banner-head {
	float:left;
	width:990px;
	height:245px;
}

.banner-head-left {
	position:absolute;
	width:495px;
	height:245px;
}

.banner-head-left-phy {
	position: absolute;
	width:495px;
	height:245px;
}

.banner-head-right {
	float: right;
	width: 461px;
	height: 212px;
	padding: 60px 0px 0px 15px;
	text-align: center;
	font-size: 25px;
	font-weight: 300;
	color: #fff;
	font-style: italic;
	letter-spacing: 1.4px;
	line-height: 30px;
	margin-left: 0px;
	opacity: 0;
}

.careers-right {
	float: right;
	width: 441px;
	height: 212px;
	padding: 45px 0px 0px 15px;
	text-align: center;
	font-size: 25px;
	font-weight: 300;
	color: #fff;
	font-style: italic;
	letter-spacing: 1.4px;
	line-height: 30px;
	margin-left: 0px;
	opacity: 0;
}

.banner-head-right2 {
	float: right;
	width: 470px;
	height: 212px;
	padding: 50px 0px 0px 10px;
	text-align: center;
	font-size: 25px;
	font-weight: 300;
	color: #fff;
	font-style: italic;
	letter-spacing: 1.4px;
	line-height: 30px;
	margin-left: 0px;
	opacity: 0;
}

.banner-head-right-small {
	float: right;
	width: 470px;
	height: 201px;
	padding: 72px 0px 0px 10px;
	text-align: center;
	font-size: 25px;
	font-weight: 300;
	color: #fff;
	font-style: italic;
	letter-spacing: 1.4px;
	line-height: 30px;
	opacity:0;
}

.banner-head-left-ab {
	position:absolute;
}

#expert-infofaq {
	float: left;
	width: 990px;
	padding-top: 40px;
	padding-bottom: 40px;
	border-bottom: 1px solid #9fd6f5;
}

#expert-infofaq-txt {
	float:left;
	width:760px;
	text-align:center;
	font-size:25px;
	letter-spacing: 0.25px;
	line-height: 29px;
	font-weight:300;
}

#moreinfo-faq {
	float:right;
	width:148px;
	height:120px;
	background-color:#e9eef5;
	border-radius:3px;
}

#moreinfo-faq-title {
	float:left;
	width:110px;
	text-align:center;
	padding:19px;
	font-size:15px;
	letter-spacing:0.15px;
	line-height:17px;
	font-weight: 300;
}

.faqs-btn {
	float: left;
	height: 28px;
	padding-left: 30px;
	padding-right: 30px;
	border-radius: 3px;
	background-color: #007fd0;
	cursor: pointer;
	padding-top: 7px;
	letter-spacing: 1.3px;
	margin-left: 17px;
}

.faqs-btn-txt {
	height: 19px;
	padding-left: 8px;
	border-left: 2px solid #fff;
	color: #fff;
	font-size: 15px;
	padding-top: 3px;
	font-weight: 300;
}

.expert-info-title {
	float:left;
	width:990px;
	padding:45px 0px 35px 0px;
	font-size:30px;
	letter-spacing: 2.25px;
	line-height: 23px;
	font-weight:300;
	text-align:center;
}

.expert-info-title-txt {
	float:left;
	width:990px;
	padding-bottom:40px;
}

.expert-info-title-txt-blue {
	float:left;
	width:990px;
	padding-bottom:40px;
	border-bottom: 1px solid #9fd6f5;
}

.expert-info-title-txt-left {
	float:left;
	width:100%;
	font-size:16px;
	text-align: justify;
	letter-spacing: 0.16px;
	line-height: 22px;
	font-weight:300;
	column-count: 2;
 	-webkit-column-count: 2;
    -moz-column-count: 2;
    -o-column-count: 2;
}

.expert-info-title-txt-right {
	float:left;
	width:477px;
	font-size:16px;
	text-align: justify;
	letter-spacing: 0.16px;
	line-height: 22px;
	font-weight:300;
	margin-left:25px;
}

.expert-info-title-txt-center {
	float:left;
	width:958px;
	font-size:16px;
	text-align: justify;
	letter-spacing: 0.16px;
	line-height: 22px;
	font-weight:300;
	margin-left:25px;
	font-family: 'Lato';
	column-count: 2;
    -webkit-column-count: 2;
    -moz-column-count: 2;
    -o-column-count: 2;
}

.blue-title-left {
	float:left;
	width:495px;
	height:74px;
	padding-top:40px;
	color:#fff;
	font-size:25px;
	letter-spacing: 0.25px;
	line-height: 29px;
	font-weight:300;
	text-align:center;
}

.blue-title-right {
	float: left;
	width: 495px;
	height: 81px;
	padding-top: 33px;
	color: #fff;
	font-size: 16px;
	letter-spacing: 0.16px;
	line-height: 22px;
	font-weight: 300;
	text-align: justify;
}

#process-work {
	float:left;
	width:990px;
	height:412px;
	margin-top:10px;
	margin-bottom:86px;
}

#expertopinion-box {
	float:left;
	width:990px;
	height: 420px;
}

#expert-opinion-img {
	position:absolute;
	width: 127px;
	height: 127px;
	border-radius:75px;
	margin-top:105px;
	margin-left:40px;
}

.expertopinion-title {
	width:990px;
	font-size:30px;
	letter-spacing: 2.25px;
	line-height: 23px;
	padding-top:45px;
	font-weight:300;
	color:#fff;
	text-align:center;
}

.expertopinion-subtitle {
	width:990px;
	font-size:25px;
	letter-spacing: 0.25px;
	line-height: 23px;
	padding-top:10px;
	font-weight:300;
	text-align:center;
}

.opinion-slider-wrapp {
	float:left;
	width:990px;
	height: 240px;
	margin-top:28px;
}

.opinion-sider {
	position:absolute;
	width:990px;
	overflow:hidden;
}


.opinion-slider-txt {
	position: absolute;
	width: 615px;
	margin-left: 190px;
	margin-right: 205px;
	z-index: 5;
	color: #fff;
	font-size: 26px;
	text-align: center;
	letter-spacing: 0.26px;
	line-height: 31px;
	font-weight: 300;
	font-style: italic;
	height: 186px;
}


.opinion-slider-subtxt {
	position: absolute;
	width: 580px;
	margin-left: 204px;
	margin-right: 205px;
	z-index: 5;
	font-size: 14px;
	color: #fff;
	text-align: center;
	letter-spacing: 0.14px;
	line-height: 17px;
	margin-top: 207px;
	text-transform: uppercase;
}

.opinion-slider-hide {
	display:none;
}

#opinion-points {
	float: left;
	margin-left: 480px;
	margin-top: 7px;
}

#opinion-points ul li {
	float:left;
	width:9px;
	height:9px;
	margin-left:4px;
	margin-right:4px;
	background:url(../img/point2.png) no-repeat;
}

#opinion-points ul li.active {
	background:url(../img/point2-active.png) no-repeat;
}

#circles-box {
	float:left;
	width:990px;
	height:300px;
	padding-top:15px;
}

.circle {
	float:left;
	width:221px;
	height:205px;
	margin-left: 25px;
	margin-top:-1px;
	background:url(../img/circle-chart.jpg) no-repeat;
}

.circle-icon {
	position:absolute;
	width:46px;
	height:46px;
}

.percent, .percent2 {
	float: left;
	font-size: 60px;
	font-weight: 300;
	margin-left: 38px;
	text-align: center;
	width: 182px;
	margin-top: 78px;
	letter-spacing: 0.6px;
	line-height: 20px;
}



.percent-txt {
	float: left;
	width: 145px;
	height:48px;
	font-size: 14px;
	font-weight: 300;
	letter-spacing: 0.14px;
	line-height: 16px;
	margin-left: 46px;
	margin-top: -39px;
	text-align: center;
}

.percent-picto {
	font-size:20px;
	letter-spacing: 0.2px;
	line-height: 20px;
}

.circle-shadow {
	float:left;
	width:221px;
	height:50px;
	margin-top:38px;
	background:url(../img/circle-shadow.jpg) no-repeat;
}

.circles-subtitle {
	float:left;
	width:990px;
	font-size:25px;
	letter-spacing: 0.25px;
	line-height: 29px;
	font-weight:300;
	text-align:center;
	margin-bottom:58px;
}

.aboutus-info-title {
	float: left;
	width: 990px;
	padding: 45px 0px 35px 0px;
	font-size: 30px;
	letter-spacing: 2.25px;
	line-height: 23px;
	font-weight: 300;
	text-align: center;
}

.aboutus-info-txt {
	float: left;
	width: 800px;
	margin-left: 95px;
	margin-right: 95px;
	font-size: 24px;
	text-align: center;
	letter-spacing: 0.25px;
	line-height: 29px;
	font-weight: 300;
}

.aboutus-info-title-txt {
	float: left;
	width: 990px;
	padding-bottom: 40px;
	padding-top: 60px;
}

.about-box-btn {
	float: left;
	height: 28px;
	padding-left: 30px;
	padding-right: 30px;
	border-radius: 3px;
	background-color: #007fd0;
	cursor: pointer;
	padding-top: 7px;
	margin-left: 369px;
	margin-top: 25px;
	margin-bottom:45px;
	letter-spacing: 1.3px;
}

#about-numbers {
	float:left;
	width:990px;
	height:283px;
}

#about-numbers-title {
	float: left;
	width: 232px;
	height: 157px;
	font-size: 30px;
	letter-spacing: 2.25px;
	line-height: 23px;
	font-weight: 300;
	padding-top: 126px;
}

.about-numbers-circle {
	float:left;
	width:204px;
	height:204px;
	border-radius:105px;
	border:3px solid #fff;
	margin-top:35px;
	margin-left:40px;
}

.about-numbers-circle-txt {
	float: left;
	width: 172px;
	margin-left: 16px;
	margin-top: 48px;
	height: 115px;
	font-size: 25px;
	letter-spacing: 0.25px;
	line-height: 29px;
	font-weight: 300;
	text-align: center;
	color: #fff;
}

.about-numbers-circle-txt2 {
	float: left;
	width: 172px;
	margin-left: 16px;
	margin-top: 69px;
	height: 115px;
	font-size: 25px;
	letter-spacing: 0.25px;
	line-height: 29px;
	font-weight: 300;
	text-align: center;
	color: #fff;
}

.foremployers-txt {
	float:left;
	width:990px;
	font-size:16px;
	margin-top: 25px;
	letter-spacing: 0.16px;
	line-height: 22px;
	text-align:center;
	font-weight:300;
}

.foremployers-txt p {
	margin-bottom:25px;
}

.employers-box-btn {
	float: left;
	height: 28px;
	padding-left: 30px;
	padding-right: 30px;
	border-radius: 3px;
	background-color: #007fd0;
	cursor: pointer;
	padding-top: 7px;
	margin-left: 332px;
	margin-top: 25px;
	margin-bottom: 45px;
	letter-spacing: 1.3px;
}

.employers-box-btn2 {
	float: left;
	height: 28px;
	padding-left: 30px;
	padding-right: 30px;
	border-radius: 3px;
	background-color: #007fd0;
	cursor: pointer;
	padding-top: 7px;
	margin-left: 411px;
	margin-top: 25px;
	margin-bottom: 45px;
	letter-spacing: 1.3px;
}

#why-box {
	float:left;
	width:990px;
	height:268px;
	margin-top:22px;
	border-bottom:1px solid #a0d5f7;
}

#why-box-txt {
	float:left;
	width:570px;
	font-size:16px;
	text-align: justify;
	letter-spacing: 0.16px;
	line-height: 22px;
	margin-top:43px;
	font-weight:300;
}

.circle-why {
	float: left;
	width: 221px;
	height: 205px;
	margin-left: 105px;
	background: url(../img/circle-chart.jpg) no-repeat;
	margin-top: 10px;
}

.difference-subtitle {
	float:left;
	width:990px;
	font-size:30px;
	text-align:center;
	letter-spacing: 0.25px;
	line-height: 29px;
	font-weight:300;
	margin-bottom: 30px;
}

.difference-box {
	float:left;
	width:475px;
	height:290px;
}

.difference-box2 {
	float:left;
	width:475px;
	height:290px;
	margin-left:40px;
}

.difference-box-number {
	float: left;
	width: 38px;
	height: 45px;
	background: #e9edf6;
	border-radius: 70px;
	margin-left: 217px;
	margin-right: 218px;
	font-size: 25px;
	padding-left: 22px;
	padding-top: 15px;
	font-weight:300;
}

.difference-box-title {
	float:left;
	width:100%;
	font-size:25px;
	letter-spacing: 1.88px;
	line-height: 25px;
	font-weight:300;
	margin-top:20px;
	text-align: center;
}

.difference-box-txt {
	float:left;
	font-size:16px;
	text-align:center;
	letter-spacing: 0.16px;
	line-height: 22px;
	margin-top:20px;
	font-weight:300;
}

.second-subtitle {
	float: left;
	width: 990px;
	font-size: 30px;
	text-align: center;
	letter-spacing: 2.25px;
	line-height: 34px;
	font-weight: 300;
	margin-top: 55px;
	margin-bottom: 25px;
}

.second-box {
	float:left;
	width:312px;
	height:258px;
	margin-top:5px;
	border-radius:3px;
	margin-right:27px;

	background: #007fd0; /* Old browsers */
	background: -moz-linear-gradient(left, #007fd0 0%, #128bd9 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#007fd0), color-stop(100%,#128bd9)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left, #007fd0 0%,#128bd9 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left, #007fd0 0%,#128bd9 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left, #007fd0 0%,#128bd9 100%); /* IE10+ */
	background: linear-gradient(to right, #007fd0 0%,#128bd9 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#007fd0', endColorstr='#128bd9',GradientType=1 ); /* IE6-9 */

}

.second-box-middle {
	float:left;
	width:312px;
	height:258px;
	margin-top:5px;
	border-radius:3px;
	margin-right:27px;

	background: #148dda; /* Old browsers */
	background: -moz-linear-gradient(left, #148dda 0%, #2e9ee6 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#148dda), color-stop(100%,#2e9ee6)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left, #148dda 0%,#2e9ee6 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left, #148dda 0%,#2e9ee6 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left, #148dda 0%,#2e9ee6 100%); /* IE10+ */
	background: linear-gradient(to right, #148dda 0%,#2e9ee6 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#148dda', endColorstr='#2e9ee6',GradientType=1 ); /* IE6-9 */

}

.second-box-right {
	float:right;
	width:312px;
	height:258px;
	margin-top:5px;
	background:#0f89d7;
	border-radius:3px;

	background: #30a0e7; /* Old browsers */
	background: -moz-linear-gradient(left, #30a0e7 0%, #42acf0 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#30a0e7), color-stop(100%,#42acf0)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left, #30a0e7 0%,#42acf0 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left, #30a0e7 0%,#42acf0 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left, #30a0e7 0%,#42acf0 100%); /* IE10+ */
	background: linear-gradient(to right, #30a0e7 0%,#42acf0 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#30a0e7', endColorstr='#42acf0',GradientType=1 ); /* IE6-9 */
}

.second-box-picto {
	width:57px;
	height:57px;
	margin-left:128px;
	margin-bottom:15px;
	margin-top:15px;
}

.second-box-txt {
	float:left;
	width:292px;
	padding: 0px 10px 0px 10px;
	font-size:16px;
	text-align:center;
	letter-spacing: 0.16px;
	line-height: 22px;
	color:#fff;
	font-weight:300;
}

.patient-banner-subtitle {
	float: left;
	width: 990px;
	font-size: 24px;
	text-align: center;
	letter-spacing: 0.25px;
	line-height: 29px;
	font-weight: 300;
	margin-top:35px;
}

.patient-banner-subtitle2 {
	float: left;
	width: 770px;
	padding: 30px 110px 50px 110px;
	font-size: 16px;
	letter-spacing: 0.16px;
	line-height: 22px;
	text-align: center;
	font-weight: 300;
}

#patient-banner-subtitle-box {
	float:left;
	width:990px;
	border-bottom:1px solid #a0d5f7;
}

.patient-name-box {
	float: left;
	height: 30px;
	margin: 70px 369px 45px 369px;
}

.patient-name  {
	float:left;
	height:30px;
	font-size:30px;
	letter-spacing: 2.25px;
	line-height: 23px;
	font-weight:300;
}

.patient-sep {
	float:left;
	width:36px;
	height:1px;
	margin:14px 15px 14px 15px;
	background-color:#a0d5f7;
}

.patient-box-txt-left {
	float:left;
	width:470px;
	margin-bottom:30px;
}

.patient-box-txt-right {
	float:left;
	width:470px;
	margin-left:50px;
	margin-bottom:30px;
}

.patient-box-txt-title {
	float:left;
	width:100%;
	font-size:25px;
	letter-spacing: 1.88px;
	line-height: 23px;
	font-weight:300;
	padding-bottom:20px;
	text-align:center;
}

.patient-box-txt-txt {
	float:left;
	width:100%;
	font-size:16px;
	letter-spacing: 0.16px;
	line-height: 22px;
	font-weight:300;
	text-align:justify;
}

.patient-banner-title {
	float: left;
	width: 640px;
	height: 74px;
	color: #fff;
	font-weight: 300;
	margin: 25px 0px 15px 70px;
	padding-right: 30px;
	font-size: 24px;
	letter-spacing: 0.25px;
	line-height: 29px;
	text-align: center;
	font-style: italic;
}

.patient-banner-title2 {
	float: left;
	width: 640px;
	height: 87px;
	color: #fff;
	font-weight: 300;
	margin: 18px 0px 9px 70px;
	padding-right: 30px;
	font-size: 24px;
	letter-spacing: 0.25px;
	line-height: 26px;
	text-align: center;
	font-style: italic;
}

.patient-banner-name {
	float: left;
	min-height: 40px;
	color: #fff;
	font-weight: 300;
	margin: 30px 8px 26px 5px;
	font-size: 16px;
	letter-spacing: 0.16px;
	line-height: 18px;
	text-align: center;
	width: 223px;
	border-left: 1px solid #8cc6ee;
	padding-left:10px;
}

.patient-banner-name span strong {
	font-weight:400;
	font-style: normal;
}

.careers-banner-subtitle {
	float: left;
	width: 990px;
	font-size: 24px;
	text-align: center;
	letter-spacing: 0.25px;
	line-height: 29px;
	font-weight: 300;
	margin-top:35px;
	padding-bottom:110px;
}

.careers-banner-subtitle a {
	text-decoration: none;
}

#experts-infobox {
	float: left;
	width: 990px;
	padding-bottom: 40px;
	border-bottom: 1px solid #9fd6f5;
}

.experts-banner-subtitle {
	float: left;
	width: 800px;
	padding:0px 95px 0px 95px;
	font-size: 24px;
	text-align: center;
	letter-spacing: 0.25px;
	line-height: 29px;
	font-weight: 300;
}

.experts-banner-subtitle2 {
	float: left;
	width: 770px;
	padding: 0px 110px 30px 110px;
	font-size: 16px;
	letter-spacing: 0.16px;
	line-height: 22px;
	text-align: center;
	font-weight: 300;
}

.expertschoose-banner-subtitle {
	float: left;
	width: 800px;
	padding:0px 95px 30px 95px;
	font-size: 24px;
	text-align: center;
	letter-spacing: 0.25px;
	line-height: 29px;
	font-weight: 300;
}

#experts-people {
	float:left;
	width:990px;
	height:570px;
	padding-top:45px;
}

#experts-people-box {
	float: left;
	width: 260px;
	height: 140px;
	border-radius: 5px;
	margin: 235px 345px 0px 345px;
	font-size: 25px;
	letter-spacing: 0.25px;
	line-height: 29px;
	font-style: italic;
	text-align: center;
	font-weight: 300;
}

.expert-hand {
	float: left;
	width: 15px;
	height: 19px;
	background: url(../img/icon-hand.jpg);
	margin: 19px 145px 10px 145px;
}

.expert-people-avatar {
	float: left;
	width: 132px;
	height: 132px;
	margin:0px 54px 0px 54px;
	background: url(../img/expert-people-avatar.jpg) no-repeat;
	border-radius: 70px;
	overflow: hidden;
	cursor:pointer;
}

.expert-people-avatar-name {
	float: left;
	width: 100%;
	height: 25px;
	font-size: 14px;
	letter-spacing: 0.14px;
	line-height: 18px;
	text-align: center;
	text-transform: uppercase;
	font-weight: 300;
	padding-top: 4px;
}

.exp-txt1, .exp-txt2, .exp-txt3, .exp-txt4, .exp-txt5, .exp-txt6 {
	display:none;
}

#expert1 {
	position:absolute;
	width:240px;
	height:157px;
	margin-left:70px;
	margin-top:330px;
}

#expert2 {
	position:absolute;
	width:240px;
	height:157px;
	margin-left:70px;
	margin-top:140px;
}

#expert3 {
	position:absolute;
	width:240px;
	height:157px;
	margin-left:265px;
}

#expert4 {
	position:absolute;
	width:240px;
	height:157px;
	margin-left:483px;
}

#expert5 {
	position:absolute;
	width:240px;
	height:157px;
	margin-left:690px;
	margin-top:140px;
}

#expert6 {
	position:absolute;
	width:240px;
	height:157px;
	margin-left:690px;
	margin-top:330px;
}

.experts-slider-txt {
	float: left;
	width: 690px;
	margin-left: 240px;
	margin-right: 60px;
	z-index: 5;
	color: #fff;
	font-size: 26px;
	text-align: center;
	letter-spacing: 0.26px;
	line-height: 31px;
	font-weight: 300;
	font-style: italic;
}

.experts-slider-subtxt {
	float: left;
	width: 690px;
	margin-left: 240px;
	margin-right: 60px;
	z-index: 5;
	font-size: 14px;
	color: #fff;
	text-align: center;
	letter-spacing: 0.14px;
	line-height: 17px;
	margin-top: 17px;
	font-weight:300;
	text-transform: uppercase;
}

#experts-points {
	float: left;
	margin-left: 558px;
	margin-top: 20px;
}

#experts-points ul li {
	float:left;
	width:9px;
	height:9px;
	margin-left:4px;
	margin-right:4px;
	background:url(../img/point2.png) no-repeat;
}

#experts-points ul li.active {
	background:url(../img/point2-active.png) no-repeat;
}

#experts-banner-box {
	float: left;
	width: 990px;
	height: 325px;
}

#expert-banner-img {
	position: absolute;
	width: 136px;
	height: 136px;
	margin-top: 42px;
	margin-left: 65px;
	border-radius:75px;
}

.banner-head-right3 {
	float: right;
	height: 212px;
	min-width:500px;
	padding: 30px 0px 0px 0px;
	text-align: center;
	font-size: 25px;
	font-weight: 300;
	color: #fff;
	font-style: italic;
	letter-spacing: 1.4px;
	line-height: 30px;
	opacity:0;
}

.banner-head-name {
	float:left;
	width:500px;
	text-align:center;
	font-size:16px;
	line-height:20.3px;
	font-weight:300;
	margin-top:15px;
	text-transform: uppercase;
	font-style: normal;
}

.banner-head-name strong {
	font-weight: 400;
}

.physician-banner-subtitle {
	float: left;
	width: 800px;
	padding: 0px 95px 45px 95px;
	font-size: 24px;
	text-align: center;
	letter-spacing: 0.25px;
	line-height: 29px;
	font-weight: 300;
}

#physician-infobox {
	float: left;
	width: 990px;
	padding-bottom: 30px;
	border-bottom: 1px solid #9fd6f5;
}

.banner-global-right {
	float: right;
	height: 199px;
	min-width: 500px;
	padding: 46px 0px 0px 0px;
	text-align: center;
	font-size: 25px;
	font-weight: 300;
	color: #fff;
	font-style: italic;
	letter-spacing: 1.4px;
	line-height: 30px;
	opacity:0;
}

#global-map {
	float:left;
	width:990px;
	height:520px;
}

.global-info-title {
	float:left;
	width:990px;
	padding:45px 0px 0px 0px;
	font-size:30px;
	letter-spacing: 2.25px;
	line-height: 23px;
	font-weight:300;
	height: 40px;
	text-align:center;
}

#global-infobox {
	float: left;
	width: 990px;
	padding-bottom: 40px;
	border-bottom: 1px solid #a0d5f7;
}

#global-infobox2 {
	float: left;
	width: 990px;
	padding-bottom: 40px;
}

.country-list {
	float:left;
	width:330px;
}

.country-list-title {
	float:left;
	width:100%;
	padding-bottom:20px;
	font-size:25px;
	letter-spacing: 0.25px;
	line-height: 25px;
	font-weight:300;
}

.country-list-title-sep {
	float:left;
	width:130px;
	height:1px;
	margin-right:200px;
	margin-bottom:8px;
	background-color: #b2d8f1;
}

.country-list ul li {
	float:left;
	width:100%;
	margin-top:10px;
	color:#012a52;
	text-transform: uppercase;
}

.country-list-grey {
	font-style: italic;
	color:#6b6766;
	font-weight: 300;
}

.banner-contact-right {
	float: right;
	width: 461px;
	height: 157px;
	padding: 88px 0px 0px 17px;
	text-align: center;
	font-size: 25px;
	font-weight: 300;
	color: #fff;
	font-style: italic;
	letter-spacing: 1.4px;
	line-height: 30px;
	opacity:0;
}

.contact-list {
	float: left;
	width: 424px;
	height:170px;
	padding-bottom: 35px;
	margin-top:20px;
}

.contact-list-icon {
	float: left;
	width: 46px;
	height: 100%;
}

.contact-list-title {
	float: left;
	width: 378px;
	padding-bottom: 20px;
	font-size: 25px;
	letter-spacing: 0.25px;
	line-height: 25px;
	font-weight: 300;
}

.contact-list-title-sep {
	float: left;
	width: 130px;
	height: 1px;
	margin-right: 200px;
	margin-bottom: 8px;
	background-color: #b2d8f1;
}

.contact-list-title-sep2 {
	float: left;
	width: 410px;
	height: 1px;
	margin-right: 60px;
	margin-bottom: 8px;
	background-color: #b2d8f1;
}

.contact-list ul {
	float:left;
	width:240px;
}

.contact-list ul li {
	float: left;
	width: 335px;
	color: #012a52;
	line-height: 22px;
	text-transform: uppercase;
}

.contact-list ul li.short {
	float: left;
	width: 200px;
	color: #012a52;
	text-transform: uppercase;
}

.contact-list ul li.info {
	font-size:16px;
	color:#6b6766;
	font-weight:300;
	letter-spacing: 0.16px;
	text-transform: none;
}

.contact-list ul li.telf {
	background: url(../img/icon-telf.jpg) 3px no-repeat;
	padding-left: 21px;
}

.contact-list ul li.mail {
	float:left;
	background: url(../img/picto-mail2.gif) no-repeat;
	margin-right:10px;
	width: 61px;
	height: 12px;
	margin-top:5px;
	cursor:pointer;
}

.contact-list ul li.map {
	float:left;
	background: url(../img/picto-map.gif) no-repeat;
	margin-right:10px;
	width: 44px;
	height: 12px;
	margin-top:5px;
	cursor:pointer;
}

.contact-list-grey {
	font-style: italic;
	color:#6b6766;
	font-weight: 300;
}

.banner-contact-right {
	float: right;
	height: 199px;
	min-width: 500px;
	padding: 88px 0px 0px 0px;
	text-align: center;
	font-size: 25px;
	font-weight: 300;
	color: #fff;
	font-style: italic;
	letter-spacing: 1.4px;
	line-height: 30px;
	opacity:0;
}

.input-contact {
	float:left;
	width:284px;
	height:40px;
	background-color:#e9eef5;
	border-radius:3px;
	padding:0px 20px 0px 20px;
	font-size:16px;
	letter-spacing: 0.16px;
	line-height: 22px;
	border:0;
	font-weight:300;
	color:#6b6766;
	outline: none;
	margin-bottom: 28px;
}

.input-country {
	width:160px;
}

.input-contact:focus {
	border:1px solid #a0d5f7;
	width:282px;
	height:38px;
}

.input-country:focus {
	width:158px;
	height:38px;
}

.label-contact {
	float: left;
	width: 284px;
	height: 32px;
	padding: 0px 20px 0px 20px;
	font-size: 16px;
	color: #007fd0;
	letter-spacing: 0.16px;
	line-height: 22px;
	font-weight: 300;
}

.input-wrapp-left {
	float:left;
	width:324px;
	margin-left:163px;
}

.input-wrapp-right {
	float:left;
	width:324px;
	margin-left:15px;
}

textarea.input-textarea {
	float: left;
	width: 625px;
	height: 169px;
	background-color: #e9eef5;
	border-radius: 3px;
	padding: 10px 20px 10px 20px;
	font-size: 16px;
	letter-spacing: 0.16px;
	line-height: 22px;
	border: 0;
	color: #6b6766;
	outline: none;
	margin-bottom: 28px;
	font-weight: 300;
	font-family: 'Lato';
}

textarea.input-textarea:focus {
	border:1px solid #a0d5f7;
	width:623px;
	height:167px;
}

.checkbox-contact {
	float:left;
}

.checkbox-label {
	float:left;
}

.checkbox-wrapp {
	float:left;
	width:520px;
	margin-left: 180px;
	color:#6b6766;
	font-weight:300;
	margin-top: 10px;
}

.contact-btn {
	float: left;
	height: 28px;
	padding-left: 30px;
	padding-right: 30px;
	border-radius: 3px;
	background-color: #007fd0;
	cursor: pointer;
	padding-top: 7px;
	letter-spacing: 1.3px;
	margin-left: 14px;
}

.contact-form-subtxt {
	float:left;
	width:470px;
	margin-left:180px;
	margin-top:20px;
	font-size:14px;
	letter-spacing: 0.14px;
	line-height: 18px;
	font-weight: 300;
}

.banner-terms {
	float: left;
	width: 990px;
	height: 27px;
}

.terms-banner-subtitle {
	float: left;
	width: 750px;
	padding: 0px 120px 45px 120px;
	font-size: 26px;
	text-align: center;
	letter-spacing: 0.25px;
	line-height: 29px;
	font-weight: 300;
}

#terms-info {
	float: left;
	width: 770px;
	font-size: 16px;
	text-align: justify;
	letter-spacing: 0.16px;
	line-height: 22px;
	color: #6b6766;
	font-weight: 300;
	padding: 25px 110px 0px 110px;
}

#terms-infobox {
	float: left;
	width: 990px;
	padding-bottom: 30px;
}

.banner-employers {
	float: left;
	width: 990px;
	height: 358px;
}

.banner-employers-right-small {
	float: right;
	width: 470px;
	height: 201px;
	padding: 128px 0px 0px 10px;
	text-align: center;
	font-size: 28px;
	font-weight: 300;
	color: #fff;
	font-style: italic;
	letter-spacing: 1.4px;
	line-height: 30px;
	opacity:0;
}

#employers-infobox {
	float: left;
	width: 990px;
	padding:55px 0px 40px 0px;
	border-bottom: 1px solid #7fbbc8;
}

.employers-banner-subtitle {
	float: left;
	width: 800px;
	padding:15px 95px 0px 95px;
	font-size: 24px;
	text-align: center;
	letter-spacing: 0.25px;
	line-height: 29px;
	font-weight: 300;
}

.employers-info-subtitle {
	float: left;
	width: 800px;
	padding: 15px 95px 30px 95px;
	font-size: 30px;
	text-align: center;
	letter-spacing: 2.25px;
	line-height: 23px;
	font-weight: 300;
}

.employers-btn {
	float: right;
	height: 27px;
	padding-left: 30px;
	padding-right: 30px;
	border-radius: 3px;
	background-color: #007791;
	cursor: pointer;
	padding-top: 6px;
	letter-spacing: 1.3px;
	margin-left: 17px;
	margin-top: 20px;
}

.employers-btn-txt {
	height: 19px;
	padding-left: 8px;
	border-left: 2px solid #fff;
	color: #fff;
	font-size: 15px;
	padding-bottom: 3px;
	font-weight: 300;
}

#what-included {
	float:left;
	width:100%;
	height:455px;
	border:1px solid #007791;
	border-radius:3px;
}

#what-included-title {
	float: left;
	width: 260px;
	height: 37px;
	font-size: 30px;
	background: #fff;
	letter-spacing: 2.25px;
	line-height: 23px;
	font-weight: 300;
	margin-left: 365px;
	margin-right: 365px;
	margin-top: -15px;
	text-align: center;
}

.what-box {
	float:left;
	width:330px;
	height:200px;
}

.what-box-num {
	float: left;
	width: 16px;
	height: 28px;
	margin: 30px 136px 10px 136px;
	background: url(../img/what-num-bg.jpg) no-repeat;
	font-size: 25px;
	font-weight: 300;
	padding: 15px 20px;
}

.what-box-txt {
	float: left;
	width: 320px;
	text-align: center;
	font-size: 25px;
	letter-spacing: 0.25px;
	line-height: 27px;
	font-weight: 300;
	padding: 0px 10px 0px 10px;
}

.what-sep {
	float:left;
	width:100%;
	height:1px;
	margin:50px 0px 0px 0px;
	background:#7fbbc8;
}

.diff-box-left {
	float:left;
	width:475px;
	height:336px;
	border-radius:3px;
	margin-bottom:40px;

	background: #007791; /* Old browsers */
	background: -moz-linear-gradient(left,  #007791 0%, #0092b1 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#007791), color-stop(100%,#0092b1)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  #007791 0%,#0092b1 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  #007791 0%,#0092b1 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  #007791 0%,#0092b1 100%); /* IE10+ */
	background: linear-gradient(to right,  #007791 0%,#0092b1 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#007791', endColorstr='#0092b1',GradientType=1 ); /* IE6-9 */
}

.diff-box-right {
	float:right;
	width:475px;
	height:336px;
	border-radius:3px;
	margin-bottom:40px;

	background: #0095b6; /* Old browsers */
	background: -moz-linear-gradient(left,  #0095b6 0%, #00b0d6 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#0095b6), color-stop(100%,#00b0d6)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  #0095b6 0%,#00b0d6 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  #0095b6 0%,#00b0d6 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  #0095b6 0%,#00b0d6 100%); /* IE10+ */
	background: linear-gradient(to right,  #0095b6 0%,#00b0d6 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0095b6', endColorstr='#00b0d6',GradientType=1 ); /* IE6-9 */
}

.diff-box-title {
	float: left;
	width: 395px;
	padding: 25px 40px 20px 40px;
	color: #fff;
	font-weight: 300;
	letter-spacing: 0.25px;
	line-height: 25px;
	font-size: 25px;
	text-align: center;
}

.diff-box-sep {
	float:left;
	width:185px;
	height:1px;
	margin:0px 145px 0px 145px;
	background-color: #80c2d0;
}

.diff-box-txt {
	float: left;
	width: 395px;
	padding: 20px 40px 20px 40px;
	color: #fff;
	font-weight: 300;
	letter-spacing: 0.16px;
	line-height: 22px;
	font-size: 16px;
	text-align: center;
}

.employers-info-title {
	float: left;
	width: 990px;
	padding: 45px 0px 45px 0px;
	font-size: 30px;
	letter-spacing: 2.25px;
	line-height: 34px;
	font-weight: 300;
	text-align: center;
}

#provide {
	float:left;
	width:100%;
	height:227px;
	border:1px solid #007791;
	border-radius:3px;
	margin-bottom:74px;
	margin-top: 44px;
}

#provide-included-title {
	float: left;
	width: 330px;
	height: 37px;
	font-size: 30px;
	background: #fff;
	letter-spacing: 2.25px;
	line-height: 23px;
	font-weight: 300;
	margin-left: 330px;
	margin-right: 330px;
	margin-top: -15px;
	text-align: center;
}

.provide-box-num {
	float: left;
	width: 57px;
	height: 57px;
	margin: 22px 136px 10px 136px;
	font-size: 25px;
	font-weight: 300;
}

.provide-slider-wrapp {
	float: left;
	width: 990px;
	margin-top: 40px;
}

#provide-banner-img {
	position: absolute;
	width: 146px;
	height: 147px;
	margin-top: 60px;
	margin-left: 65px;
	border-radius: 75px;
}

.employers-info-title2 {
	float: left;
	width: 990px;
	padding: 65px 0px 50px 0px;
	font-size: 30px;
	letter-spacing: 2.25px;
	line-height: 23px;
	font-weight: 300;
	text-align: center;
}

.know-box {
	float:left;
	width:445px;
	padding:0px 25px 0px 25px;	
}

.know-box-title {
	float:left;
	width:100%;
	text-align:center;
	font-size:25px;
	text-align: center;
	letter-spacing: 0.25px;
	line-height: 27px;
	font-weight:300;
	font-style:italic;
}

.know-box-sep {
	float:left;
	width:215px;
	height:1px;
	background-color: #80bac8;
	margin:20px 115px 20px 115px;
}

.know-box-txt {
	float:left;
	width:100%;
	padding:0px 0px 25px 0px;
	text-align: center;
	font-weight: 300;
}

.know-btn {
	float: left;
	height: 28px;
	padding-left: 30px;
	padding-right: 30px;
	border-radius: 3px;
	background-color: #007791;
	cursor: pointer;
	padding-top: 7px;
	letter-spacing: 1.3px;
	margin-left: 138px;
	margin-right: 138px;
}

.know-btn-txt {
	height: 19px;
	padding-left: 8px;
	border-left: 2px solid #fff;
	color: #fff;
	font-size: 15px;
	padding-bottom: 0px;
	font-weight: 300;
	padding-top: 3px;
}

.circle {
	float:left;
	width:221px;
	height:205px;
	background:url(../img/circle-blue.jpg) no-repeat;
}

.circle-icon {
	position:absolute;
	width:46px;
	height:46px;
}

/* CHARTS */

.circle-wrapp {
	float:left;
	width:138px;
	height:169px;
}

.circle1, .circle2, .circle3, .circle4 {
	float:left;
	margin-top:30px;
}

.contact-box-content {
	float: left;
	width: 185px;
	margin-left: 25px;
	margin-right: 25px;
}

.contact-box {
	float: left;
	width: 185px;
	height: 185px;
}

.contact-box-shadow {
	float: left;
	width: 138px;
	height: 23px;
	background:url(../img/shadow-box.jpg);
} 

.contact-banner-subtitle {
	float: left;
	width: 990px;
	font-size: 25px;
	text-align: center;
	letter-spacing: 0.25px;
	line-height: 29px;
	font-weight: 300;
	padding-bottom:40px;
}

.banner-faqs-name {
	float: left;
	width: 470px;
	text-align: center;
	font-size: 16px;
	line-height: 20.3px;
	font-weight: 300;
	margin-top: 15px;
	text-transform: uppercase;
}

.banner-faqs-name b {
	font-weight:700;
}

.banner-faqs-right-small {
	float: right;
	width: 470px;
	height: 201px;
	padding: 63px 0px 0px 10px;
	text-align: center;
	font-size: 25px;
	font-weight: 300;
	color: #fff;
	font-style: italic;
	letter-spacing: 1.4px;
	line-height: 30px;
	opacity:0;
}

.faqs-banner-subtitle {
	float: left;
	width: 800px;
	padding: 0px 95px 0px 95px;
	font-size: 24px;
	text-align: center;
	letter-spacing: 0.25px;
	line-height: 29px;
	font-weight: 300;
}

.slidedown {
	margin-bottom: -4px;
	margin-left:12px;
}

.faqs-info-title {
	float: left;
	width: 990px;
	padding: 45px 0px 0px 0px;
	font-size: 30px;
	letter-spacing: 2.25px;
	line-height: 23px;
	font-weight: 300;
	text-align: center;
}

.faqs-subtitle {
	float: left;
	width: 700px;
	padding:45px 145px 0px 145px;
	font-size: 24px;
	text-align: center;
	letter-spacing: 0.25px;
	line-height: 29px;
	font-weight: 300;
	cursor:pointer;
}

.faqs-txt {
	float: left;
	width: 700px;
	padding:0px 145px 0px 145px;
	font-size:16px;
	color:#6b6766;
	line-height: 22px;
	letter-spacing: 0.16px;
	font-weight:300;
	text-align: center;
	display:none;
}

.faqs-txt p {
	margin-top:28px;
}

.faqs-infobox {
	float: left;
	width: 990px;
	padding-bottom: 40px;
	border-bottom: 1px solid #a0d5f7;
}

.faqs-infobox-bottom {
	float: left;
	width: 990px;
	padding-bottom: 40px;
}

.scrolltop {
	position: fixed;
	width: 42px;
	height: 45px;
	background: url(../img/icon-scrolltop2.png);
	margin-left: 948px;
	bottom: 0;
	z-index: 100;
}

.scrolltop-roll {
	position: fixed;
	width: 42px;
	height: 45px;
	background: url(../img/icon-scrolltop2-roll.png);
	margin-left: 948px;
	bottom: 0;
	z-index: 100;
	display: none;
}

.pico {
	float: left;
	width: 990px;
	height: 16px;
	background: url(../img/pico.jpg) 479px 1px no-repeat;
}

.experts-people-box-txt {
	width:265px;
	height:140px;
	padding: 20px 20px 0px 20px;
	background:#e9eef5;
	border-radius:3px;
}

#experts-people-box div.exp-txt-roll {
	float:left;
	font-size:13px;
	color:#fff;
	line-height: 18px;
	font-style: normal;
	background: #007fd0; /* Old browsers */
	background: -moz-linear-gradient(top, #007fd0 0%, #42acf0 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#007fd0), color-stop(100%,#42acf0)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #007fd0 0%,#42acf0 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #007fd0 0%,#42acf0 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #007fd0 0%,#42acf0 100%); /* IE10+ */
	background: linear-gradient(to bottom, #007fd0 0%,#42acf0 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#007fd0', endColorstr='#42acf0',GradientType=0 ); /* IE6-9 */
}

.experts-people-box-txt span {
	float:left;
	width:265px;
	height:140px;
	text-transform: uppercase;
	margin-top:5px;
	text-align:center;
}

.ac-hide {
	display:none;
}

.patient-sep-line {
	width:100%;
	height:1px;
	background: #a0d5f7;
}

/* END CHARTS */ 


/* * * TEXTS & COLORS * * */

.grey {
	color:#e9edf6;
}

.dark-grey {
	color:#6b6766;
}

.dark-blue {
	color:#002a54;
}

.blue {
	color:#43acf0;
}

.blue-sea {
	color:#007fd0;
}

.turq {
	color:#007791;
}

.blue-title-bg {
	background: #007fd0; /* Old browsers */
	background: -moz-linear-gradient(left, #007fd0 0%, #42acf0 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#007fd0), color-stop(100%,#42acf0)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left, #007fd0 0%,#42acf0 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left, #007fd0 0%,#42acf0 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left, #007fd0 0%,#42acf0 100%); /* IE10+ */
	background: linear-gradient(to right, #007fd0 0%,#42acf0 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#007fd0', endColorstr='#42acf0',GradientType=1 ); /* IE6-9 */
}

.turquoise-banner-degree {
	background: #007791; /* Old browsers */
	background: -moz-linear-gradient(left,  #007791 0%, #00b0d6 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#007791), color-stop(100%,#00b0d6)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  #007791 0%,#00b0d6 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  #007791 0%,#00b0d6 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  #007791 0%,#00b0d6 100%); /* IE10+ */
	background: linear-gradient(to right,  #007791 0%,#00b0d6 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#007791', endColorstr='#00b0d6',GradientType=1 ); /* IE6-9 */
}




