<div class="content-wrapp blue-degree-bg">
	<div class="wrapp">

		<div class="banner-terms"></div>

	</div>
</div>

<div class="content-wrapp header-bg">
	<div class="wrapp">
		<div class="submenu-wrapp"></div>
	</div>
</div>

<div class="content-wrapp">
	<div class="wrapp">

		<div id="terms-infobox">

			<div class="expert-info-title dark-blue">
				TERMS AND CONDITIONS OF USE
			</div>

			<div class="terms-banner-subtitle blue-sea">
				Please read the following Terms and Conditions of Use prior to<br/>using the Advance Medical site. 
			</div>

			<div id="terms-info">
				<p>By using the site you agree to the Terms and Conditions of Use. If you do not agree to all of the Terms and Conditions of Use, do not use the site. This web site is intended to provide with public with information about ADVANCE&nbsp; MEDICAL and its services, and to allow our customers to obtain certain information and services over the Internet. Any unauthorized use of this web site, our information systems, or the information contained in our information systems is prohibited, and may violate applicable law.&nbsp;<br /> <br /> Advance Medical may change, update or revise the Terms and Conditions of Use at any time without prior notification.&nbsp;<br /> <br /> If you think that you are having a medical emergency, call your doctor or an emergency medical response service immediately.&nbsp;<br /> <br /> This site is not intended to be used by children. Minors (children under the age of eighteen years old) are not allowed to use this site. By using this site you are representing that you are not a minor.<br /> <br /> Advance Medical provides an information service, known as an Expert Second Medical Opinion Report, to our customers. The use of the information service is governed by the terms of an enrollment agreement. You may obtain a copy of the enrollment agreement on request.&nbsp;<br /> <br /> Advance Medical is not a referral service and does not recommend or endorse any particular medical provider, therapy, or medical treatment plan. No information used in the service should be construed as the practice of medicine.&nbsp;<br /> <br /> Advance Medical may from time to time offer individuals certain information on a password-protected basis. If you are issued a password, only you should use it. Do not permit any other person to use it. You are responsible for ensuring that no unauthorized person shall have access to any password issued to you by Advance Medical. If you suspect that the security of your password has been compromised then it is your responsibility to notify Advance Medical immediately for password deactivation. Advance Medical may require additional information for proof of identity.&nbsp;<br /> <br /> The medical case examples described on the site are fictionalized cases. Any similarity or likeness to real persons, living or dead is purely coincidental. You grant Advance Medical and any persons or entities involved in the operation of this website the right to transmit, store, monitor, retrieve and use your information you submit through this site or that is automatically collected through the Internet. Advance Medical collects personally identifiable information, such as names, addresses, e-mail addresses and the like, only when voluntarily provided by a Website user.&nbsp;<br /> <br /> Whoever transmits any communication to this website or otherwise to Advance Medical is solely responsible for its accuracy and completeness. You agree that you will not send or transmit to Advance Medical by e-mail (including the links found in &ldquo;Contact Us&rdquo;) any communication or content that infringes or violates any right of any person. You agree that you will not send or transmit to Advance Medical by e-mail (including the links found in &ldquo;Contact Us&rdquo;) any communication or content that includes any proprietary information, copyrighted works, or inventions.<br /> <br /> The Advance Medical privacy notice is available on this website. The privacy notice applies only to persons who have enrolled or are seeking to be enrolled in our Expert Medical Opinion service and to the information we collect from them or on their behalf as part of that service. The privacy notice does not apply to other information collected through this website or otherwise.&nbsp;<br /> <br /> Advance Medical may provide links to certain third party websites as a courtesy. By providing these links, we are not endorsing, adopting, or agreeing with any of the content of linked sites. The content of linked sites is not part of our website. We do not review or control the content of third party sites. We expressly disclaim any responsibility for the content of any third party sites linked to our website. We urge you to use discretion when you access any third party site linked to our website.<br /> <br /> Advance Medical has not reviewed all sites that may be linked to its website and does not endorse and is not responsible for the content of any third party&rsquo;s website pages or any other sites linked to such sites. Linking to such sites is strictly at the user&rsquo;s own risk.<br /> <br /> Use of the Internet is solely at your own risk subject to all applicable local, state, federal and international laws and regulations. Any information transmitted over the Internet cannot be assured to be secure. Advance Medical is not responsible for the consequences of any compromises to the security of the Internet or any consequences in the breach of its security. We do not warrant that the functions or informational materials contained in or accessed through our website are free of computer viruses or other harmful components.&nbsp;<br /> <br /> While Advance Medical makes reasonable efforts to keep its Website up-to-date and accurate, information on this Website may contain technical inaccuracies or typographical errors. In addition, where this site provides links or references to other Websites, it does so purely as a convenience to users of this site. We do not warrant that the functions or informational materials contained in or accessed through our Website are free of computer viruses or other harmful components.<br /> <br /> The information provided on this website is provided on an "as is" basis for informational purposes only. In addition, such information is provided without any warranties express or implied including, but not limited to, the implied warranties of merchantability, fitness for a particular purpose, or non-infringement. Advance medical makes no representation or warranty that the information contained on this website will be timely or error-free.<br /> <br /> In no event will Advance Medical be liable to any party for any direct, indirect, special, or consequential damages or any damages whatsoever whether based on contract, tort, negligence, strict liability or otherwise, for any use of this website, or any website linked to this website, including, without limitation, any lost profits, business interruption, loss of programs or other data on the users information handling system or otherwise, even if Advance Medical is expressly advised of the possibility of such damages.<br /> <br /> Because some states/jurisdictions do not allow the exclusion of implied warranties or the exclusion or limitation of liability for consequential or incidental damages, the above limitation may not apply to all users. If a user of the Advance Medical website is dissatisfied with any portion of the website, or with any of these terms of use, the sole and exclusive remedy for the user is to discontinue using the Advance Medical website.<br /> <br /> Neither the course of conduct between parties nor trade practice shall act to modify any of these provisions. These provisions shall be governed by and construed in accordance with the laws of the Commonwealth of Massachusetts, and any action brought in connection with the use of this site or the services offered at this site shall be brought in Massachusetts.&nbsp;<br /> <br /> If any provision of these Terms and Conditions of Use are found to be invalid by any court having competent jurisdiction, the invalidity of such provisions shall not affect the remaining portions of these Terms and Conditions of Use. No waiver of any of these Terms or Conditions of Use shall be deemed a further or continuing waiver of such term or condition of use or of any other term or condition of use.<br /> <br /> Advance Medical is an international organization and may hold some of the website on servers in Spain, the United States of America or other locations. By using this site or any service of Advance Medical you fully understand and consent to the collection and storage of information in any location.&nbsp;<br /> <br /> Advance Medical welcomes any correspondence regarding the information contained in this notice or anywhere else on the site. Please write to: Advance Medical, 100 Lowder Brook Drive, Westwood, Massachusetts, USA.&nbsp;<br /> <br /> You may not use any meta-tags or any other &ldquo;hidden text&rdquo; that uses the name &ldquo;Advance Medical&rdquo; or &ldquo;Expert Medical Opinion&rdquo; without prior written permission by Advance Medical.&nbsp;<br /> <br /> The information and material on this website is the sole property of Advance Medical, Inc. &copy; 2006 and Advance Medical and Advance Medical authorizes you to view or download a single copy of the material on the Advance Medical site solely for personal, noncommercial use if you use the following copyright notice:<br /> <br /> Copyright (c) 2006 Advance Medical, Inc. All Rights Reserved.&nbsp;<br /> All rights not expressly granted herein are reserved to Advance Medical.<br /> These Terms and Conditions of Use constitute the entire agreement between you and Advance Medical with respect to the use of the Advance Medical site and content.<br /> <br /> These terms and conditions of use have been in place since February 27, 2007.</p>
			</div>

		</div>
	</div>
</div>

